.mainform{
      width: 50%;
      height: 70vh;
      background-color: aqua;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20rem;
      margin-top: 5rem;
      flex-direction: column;
      border-radius: 15px;
}
.form p{
      color: red;
}
input {
      width: 35%;
      height:2rem;
      justify-content: center;
      text-align: center;
      align-items: center;
      font-size: 18px;
      padding-top: 20px;
      margin: 10px;
      border-radius: 7px;
  }
  button{
      color: aqua;
      width: 10rem;
      height: 3rem;
  }